<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tk.gabdeg.cluster">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <activity android:name="tk.gabdeg.cluster.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="tk.gabdeg.cluster.MapActivity" android:theme="@style/MapTheme"/>
        <activity android:name="tk.gabdeg.cluster.SubmitActivity" android:theme="@style/NormalTheme"/>
        <activity android:name="tk.gabdeg.cluster.ProfileActivity" android:theme="@style/NormalTheme"/>
        <activity android:name="tk.gabdeg.cluster.WelcomeActivity" android:theme="@style/WelcomeTheme"/>
        <activity android:name="tk.gabdeg.cluster.CreateProfileActivity" android:theme="@style/WelcomeTheme"/>
        <activity android:name="tk.gabdeg.cluster.VerifyActivity" android:theme="@style/WelcomeTheme"/>
        <activity android:name="tk.gabdeg.cluster.PermissionsActivity" android:theme="@style/WelcomeTheme"/>


        <provider
            android:authorities="tk.gabdeg.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

    </application>

</manifest>